/**
 * WpDevTool Main Stylesheet
 */

/** Header **/
.icon-wpdevtool-32 { background: url('../img/develop_32.png') no-repeat;}
h2 .wpdevtool_logo { color: #21759b; }
h2 {display: block;height: 35px;}

/** Forms **/
#wpdevtool_container .wp-editor-wrap .mceIframeContainer{ background: #fff; }
#wpdevtool_container label { font-weight: 800; }
#wpdevtool_container .required_field { color: #f00; }
#wpdevtool_container input.long-text { width: 100%; }

/** Columns **/
#wpdevtool_container { margin-right: 300px;margin-top: 10px;}
#wpdevtool_left_column { float:left;width: 100%; }
#wpdevtool_right_column { margin-right: -300px;width:280px;padding-left:20px;float: left;}

/** Console **/

#wdt_console {max-width: 100%;border: 1px solid #aaa;height: 600px;overflow: auto;padding: 10px;font-family: Courier, Helvetica;font-size: 13px;background: #111;color: #fff;}
#wdt_console .error-title{line-height:30px;font-weight:700;display:block;}
#wdt_console .fatal-error {color: #f00;}
#wdt_console .warning-error {color: #F8CA00;}
#wdt_console .parse-error {color: #FA6900;}
#wdt_console .notice-error {color: #A7DBD8;}
#wdt_console .catchable-error {color: #BD1550;}

/** Postbox **/
#wpdevtool_container .postbox h3 { line-height: 30px;padding: 0 10px; }
#wpdevtool_container .postbox{ width: 100%; }

/** Tables **/
#wpdevtool_container table.wp-list-table tbody tr td { padding: 10px 5px; }
form.wpdevtool_search {float:left;position:relative;top:2px;left: -8px}

/** iPad **/
@media screen and (max-width:1024px) {
	#wpdevtool_container { width: 100%; }
	#wpdevtool_right_column { margin: 0;width: 100%;padding: 0; }
}
